projects/bpmsuite-fuse-integration/xml/bpmsuiteResponse.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="process-instance-response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="process-id"/>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:byte" name="state"/>
        <xs:element type="xs:byte" name="parentProcessInstanceId"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>